.login {
  width: 10em;
  height: 10em;
  background-color: lightblue;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 100%;
  padding: 0 20% 0 20%;
  height: auto;
  display: flex;
}

.comp-dest .cdk-drag-placeholder {
  opacity: 0;
}

.comp-source .cdk-drag-placeholder {
  opacity: 1;
}

.comp-dest {
  width: 25em;
  min-height: 5em;
  height: fit-content;
  border-color: lightgray;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.cons-wrapper {
}

.btn-submit {
  position : absolute;
  bottom   : 0;
}

.component {
  border-color: lightgray;
}

.comp-dest .component {
  margin-top: 1em;
}
