<body>
<div class="container-fluid" style="padding-right:0;">
  <div class="row justify-content-end">
    <div class="login">
      <div class="wrapper flex-row-wrap">
        <span> {{user.name}} </span>
      </div>
    </div>
  </div>
  <span style="font-size: 30pt"> Quest Constructor </span>
  <hr>
  <div class="row">
    <div class="col-sm-7">
      <label style="margin-right: 5pt" class="quest-name" for="main-name-input"> Quest name: </label>
      <input style="margin-bottom: 10pt" id="main-name-input" placeholder="Enter title of quest">
    </div>
    <div class="col-sm-5">
      <label style="margin: 5pt 0" class="quest-name"> Templates: </label>
    </div>
  </div>
  <div class="row cons-wrapper">
    <div cdkDropList class="col-sm-6 components comp-dest border rounded d-flex flex-column round"
         style="background: white"
         #todoList="cdkDropList"
         [cdkDropListData]="destQuestCompList"
         [cdkDropListConnectedTo]="[doneList]"
         (cdkDropListDropped)="drop($event)">
      <span style="margin-top: 5pt; color: #D9CBBF" *ngIf="destQuestCompList.length == 0"> Drag here new tasks</span>

      <div *ngFor="let comp of destQuestCompList" cdkDrag>
        <div class="component border" style="padding: 5pt; background:#E6E4E1">
          <h5 style="margin: 4pt; font-weight: bold" cdkDragHandle> {{comp.desc}} </h5>
          <div *ngFor="let control of comp.arr; index as i">
            <div style="margin: 5pt" *ngIf="control.type=='bool'" class="form-check">
              <input style="margin: 2pt" id="checkbox" class="form-check-input position-static" type="checkbox"
                     [formControl]=control.form>
              <label style="margin: 2pt" class="form-check-label" for="checkbox">
                <span>{{control.desc}}</span>
              </label>
            </div>
            <div style="margin: 5pt" *ngIf="control.type=='string'" class="form-input">
              <label style="margin: 2pt" class="form-check-label" for="checkbox">
                <span>{{control.desc}}</span>
              </label>
              <input style="margin: 2pt" class="form-control" *ngIf="control.type=='string'" [formControl]=control.form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div cdkDropList class="col-sm-5 components comp-source"
         cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="sourceQuestCompList"
         [cdkDropListConnectedTo]="[todoList]"
         (cdkDropListDropped)="drop($event)">
      <div *ngFor="let comp of sourceQuestCompList" cdkDrag>

        <div style="padding: 5pt; background: #E6E4E1" class="component border">
          <span style="margin: 5pt; font-size: 12pt" cdkDragHandle> {{comp.desc}} </span>
          <!--          <div *ngFor="let control of comp.arr; index as i">-->
          <!--            <span *ngIf="control.type!='id'">{{control.desc}}</span>-->
          <!--            <input type="checkbox" *ngIf="control.type=='bool'" [formControl]=control.form>-->
          <!--            <input *ngIf="control.type=='string'" [formControl]=control.form>-->
          <!--          </div>-->
        </div>

      </div>
    </div>
  </div>


</div>
<div class="dropdown">
  <button (click)="playersUpdate()" class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose intern
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button (click)=setPlayer(player) *ngFor="let player of players" class="dropdown-item"
            type="button">{{player.email}}</button>
  </div>
</div>
<span *ngIf="chosenPlayer"> {{chosenPlayer.email}} </span>

<button style="margin: 30pt 0" (click)="submit(destQuestCompList)"
        class="btn btn-primary btn-lg"> Submit
</button>

</body>
