<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="container d-flex flex-row sidebar-heading">
      <div class="logo"><img src="../../favicon.ico" alt="logo"></div>
      <span class="project-name text-center"> assimilite </span>
    </div>
    <div class="list-group list-group-flush shadow-sm">
      <a href="/constructor" class="list-group-item list-group-item-action ">Constructor</a>
      <a href="/login" class="list-group-item list-group-item-action ">Login</a>
      <a href="/register" class="list-group-item list-group-item-action ">Sign up</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <app-main class="container-fluid" id="page-content-wrapper"> Loading main ...</app-main>
</div>
<!-- /#page-content-wrapper -->


<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->

<!-- Menu Toggle Script -->

